
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Chào bạn đến với mục quản lí</h2>
<h6>Các chức năng</h6>
<a href="@Url.Action("ProductList","Admin")" class="btn btn-outline-primary">Danh sách sách</a>

