@model Library.Domain.Entities.Product

<div class="card mb-4 shadow-sm" style=" width: 250px; height: 400px">
    <div class="card-body">
        <img src="@Model.ProductImage" style="max-width: 200px; height: 250px" />
        <p class="card-title pricing-card-title">@Model.ProductName</p>
        @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post, new { @class = "frmAddToCart" }))
        {
            <input name="ProductId" value="@Model.ProductId" type="hidden" />
            <input name="Quantity" value="1" type="number" style="width: 95%"/>
            <button class="btn btn-outline-primary" type="submit">Thêm vào giỏ hàng</button>
        }
    </div>
</div>

