
@{
    ViewBag.Title = "ok";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="border-bottom">
    <h3>Đặt hàng thành công! Cảm ơn quý khách đã sử dụng dịch vụ của chúng tôi!</h3>
</div>

